/**
 * Main Stylesheet
 * Imports all CSS modules in the correct order
 * 
 * Usage: 
 * <link rel="stylesheet" href="assets/css/main.css">
 */

/* 1. CSS Variables & Design Tokens */
@import url('variables.css');

/* 2. Base Styles & Global Resets */
@import url('base.css');

/* 3. Component Styles */
@import url('components/sidebar.css');
@import url('components/navbar.css');
@import url('components/cards.css');
@import url('components/buttons.css');
@import url('components/tables.css');
@import url('components/forms.css');
@import url('components/auth.css');

/**
 * To use this file, simply include it in your HTML:
 * <link rel="stylesheet" href="assets/css/main.css">
 * 
 * This will load all styles in the correct order.
 * 
 * Alternatively, you can load individual files for better performance:
 * <link rel="stylesheet" href="assets/css/variables.css">
 * <link rel="stylesheet" href="assets/css/base.css">
 * <link rel="stylesheet" href="assets/css/components/sidebar.css">
 * etc...
 */
